<div class="componentDiv content" appBackgrounds>
    <div class="container">
        <div class="text">
            <p>Systems engineer<br>
                focused on software<br>
                development</p>
        </div>
        <div class="imagesDiv">
            <div class="university">
                <div class="birrete">
                    <img src="https://i.ibb.co/tQj0D1v/birrete.png" alt="birrete">
                    <div class="enlace">
                        <a href="https://www.etitulo.com/validate/v/9A3A474F-9FF6-4621-9B96-84D0BA9B56AF"
                            target="_blank">Watch diploma</a>
                    </div>
                </div>
            </div>
            <div class="flag">
                <img src="https://i.ibb.co/P1D1sXv/logo.png" alt="">
                <div class="colombia">
                    <img src="https://i.ibb.co/C7BpNzP/bandera.png" alt="Colombia's flag" title="Colombia">
                </div>
            </div>
        </div>
    </div>
</div>